In [1]:
print("hello")

hello

In [2]:
print("'learning python'")

'learning python'

In [3]:
'"welcome python"'

'"welcome python"'

In [4]:
a = 3.54
type(a)

float

In [1]:
5/2

2.5

In [2]:
5//2

2

In [3]:
5%2

1

In [4]:
"welcome\naira"

'welcome\naira'

In [5]:
"welcome/naira"

'welcome/naira'

In [6]:
8+9-10

7

In [7]:
8+2*3

14

In [8]:
(8+2)*3

30

In [11]:
2**3 #power

8

In [13]:
10//3 #integer division

3

In [15]:
10%3 #remainder

1

In [16]:
"vaishali"

'vaishali'

In [17]:
'vaishali gupta'

'vaishali gupta'

In [18]:
print("vaishali Gupta")

vaishali Gupta

In [19]:
print('vaishali gupta')

vaishali gupta

In [20]:
print('vaishali's book)

SyntaxError: invalid syntax (<ipython-input-20-94a8ba391dd5>, line 1)

In [21]:
print("vaishali's book")

vaishali's book

In [22]:
print("vaishali "friends"")

SyntaxError: invalid syntax (<ipython-input-22-5ebddf914adc>, line 1)

In [23]:
print('vaishali "friends"')

vaishali "friends"

In [25]:
print("vaishali's "friends"")

SyntaxError: invalid syntax (<ipython-input-25-01acfd20e475>, line 1)

In [27]:
print("vaishali's \"friends\"")

vaishali's "friends"

In [28]:
print('vaishali\'s "friends"')

vaishali's "friends"

In [29]:
"vaishali" + "vaishali"

'vaishalivaishali'

In [30]:
3*"vaishali"

'vaishalivaishalivaishali'

In [31]:
2*"vaishali gupta "

'vaishali gupta vaishali gupta '

In [32]:
print('c:\docs\naira')

c:\docs
aira

In [33]:
print("c:\docs\naira")

c:\docs
aira

In [34]:
print("hello\naira")

hello
aira

In [36]:
print(r"hello\naira") #cancels the effect of special character

hello\naira

# variables

In [37]:
x=2

In [38]:
x

2

In [39]:
x+3

5

In [40]:
y=3
x+y

5

In [41]:
x=9

In [42]:
x

9

In [43]:
abc

NameError: name 'abc' is not defined

In [44]:
x+10

19

In [45]:
_ +y

22

In [46]:
name='youtube'
name

'youtube'

In [47]:
name + 'rocks'

'youtuberocks'

In [48]:
name[0]

'y'

In [49]:
name[6]

'e'

In [50]:
name[8]

IndexError: string index out of range

In [51]:
name[-1] #minus indexing starts form last

'e'

In [52]:
name[-2]

'b'

In [53]:
name[-7]

'y'

In [55]:
name[0:2] #last index does not include

'yo'

In [56]:
name[1:4]

'out'

In [57]:
name[1:]

'outube'

In [58]:
name[:]

'youtube'

In [59]:
name[:5]

'youtu'

In [60]:
name[3:10]

'tube'

In [61]:
name[0:3] = "myi"

TypeError: 'str' object does not support item assignment

In [62]:
name="vaishali"

In [63]:
name

'vaishali'

In [64]:
name="youtube"
name

'youtube'

In [66]:
name[0]='r'

TypeError: 'str' object does not support item assignment

In [67]:
'my '+name[3:]

'my tube'

In [68]:
name

'youtube'

In [69]:
len(name)

7

In [70]:
len("vaishali")

8

In [71]:
name[0:6:2]

'yuu'

In [72]:
name[0:7:2]

'yuue'

In [73]:
name[:7:3]

'yte'

In [74]:
name

'youtube'

In [75]:
name[-1:-4]

''

In [76]:
name[3:0]

''

In [77]:
name[-4:-1]

'tub'

In [78]:
name[-4:0]

''

In [79]:
name[0:-4]

'you'

In [80]:
name[0:7:-1]

''

In [81]:
name[-7:-1:-1]

''

In [82]:
name[::-1]

'ebutuoy'

In [83]:
name[-7:-4:1]

'you'

In [84]:
name[7:0:-1]

'ebutuo'

In [87]:
name[7:-2:-1]

'e'

In [86]:
name[7::-1]

'ebutuoy'

# List

In [88]:
nums = [25,12,6.798,"vaishali"]
nums

[25, 12, 6.798, 'vaishali']

In [89]:
nums[0]

25

In [90]:
nums[3]

'vaishali'

In [91]:
nums[2:]

[6.798, 'vaishali']

In [92]:
nums[-1]

'vaishali'

In [93]:
nums[-4]

25

In [94]:
nums[0:4]

[25, 12, 6.798, 'vaishali']

In [95]:
nums[0:4:2]

[25, 6.798]

In [96]:
numbers = [12,45,78,35,98]
names = ['vaishali' , 'tanya' ,'ritika' , 'sreyasi']

In [98]:
numbers

[12, 45, 78, 35, 98]

In [99]:
names

['vaishali', 'tanya', 'ritika', 'sreyasi']

In [100]:
mixlist = [numbers,names]

In [101]:
mixlist

[[12, 45, 78, 35, 98], ['vaishali', 'tanya', 'ritika', 'sreyasi']]

In [102]:
mixlist[0]

[12, 45, 78, 35, 98]

In [103]:
mixlist[1]

['vaishali', 'tanya', 'ritika', 'sreyasi']

In [104]:
mixlist[0][0]

12

In [105]:
mixlist[1][2]

'ritika'

In [106]:
help(append)

NameError: name 'append' is not defined

In [107]:
type(nums)

list

In [109]:
1+2j

(1+2j)

In [111]:
a = 1+3j

In [112]:
a

(1+3j)

In [113]:
type(a)

complex

In [115]:
a+5

(6+3j)

In [119]:
a.imag

3.0

In [120]:
a.real

1.0

In [121]:
a.real + 9

10.0

In [123]:
(4+3j)*(2+7j)

(-13+34j)

In [124]:
b=2+4j
b

(2+4j)

In [125]:
a/b

(0.7+0.1j)

In [126]:
nums

[25, 12, 6.798, 'vaishali']

In [127]:
names

['vaishali', 'tanya', 'ritika', 'sreyasi']

In [128]:
nums.append(89)

In [129]:
nums

[25, 12, 6.798, 'vaishali', 89]

In [130]:
nums.append([23,45])

In [131]:
nums

[25, 12, 6.798, 'vaishali', 89, [23, 45]]

In [132]:
nums.extend(90)

TypeError: 'int' object is not iterable

In [135]:
nums.extend([34,"sonia"])

In [136]:
nums

[25, 12, 6.798, 'vaishali', 89, [23, 45], 34, 'sonia']

In [137]:
nums.insert("tanya")

TypeError: insert() takes exactly 2 arguments (1 given)

In [138]:
nums.insert(2,"tanya")

In [139]:
nums

[25, 12, 'tanya', 6.798, 'vaishali', 89, [23, 45], 34, 'sonia']

In [140]:
nums.remove()

TypeError: remove() takes exactly one argument (0 given)

In [141]:
nums.remove(12)

In [142]:
nums

[25, 'tanya', 6.798, 'vaishali', 89, [23, 45], 34, 'sonia']

In [143]:
nums.remove(1)

ValueError: list.remove(x): x not in list

In [144]:
nums.pop()

'sonia'

In [145]:
nums.pop(1)

'tanya'

In [146]:
nums.pop(-1)

34

In [147]:
nums.pop(-3:-1)

SyntaxError: invalid syntax (<ipython-input-147-f7e1a37543ef>, line 1)

In [148]:
nums.pop(0:2)

SyntaxError: invalid syntax (<ipython-input-148-ecf4336d7eab>, line 1)

In [149]:
del nums[2:]

In [173]:
li = [45,23,89]
li

[45, 23, 89]

In [175]:
li.clear()

In [176]:
li

[]

In [180]:
mylist = ["vaishali",45,78,90,23.7,45,67,45]
mylist

['vaishali', 45, 78, 90, 23.7, 45, 67, 45]

In [181]:
mylist.index(45)

1

In [182]:
mylist.index(45,1,6)

1

In [183]:
mylist.index(45,4,6) # finds the index of value 45 in between indexes 4 to 6

5

In [185]:
mylist.count(45)

3

In [186]:
mylist.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [187]:
names

['ritika', 'sreyasi', 'tanya', 'vaishali']

In [188]:
names.sort()

In [189]:
names

['ritika', 'sreyasi', 'tanya', 'vaishali']

In [191]:
names.sort(reverse=True)

In [192]:
names

['vaishali', 'tanya', 'sreyasi', 'ritika']

In [193]:
names.reverse()

In [194]:
names

['ritika', 'sreyasi', 'tanya', 'vaishali']

In [195]:
names.copy()

['ritika', 'sreyasi', 'tanya', 'vaishali']

In [196]:
names1 = names.copy()

In [197]:
names1

['ritika', 'sreyasi', 'tanya', 'vaishali']

In [177]:
nums

[6.798, 25]

In [151]:
min(nums)

6.798

In [152]:
max(nums)

25

In [153]:
sum(nums)

31.798000000000002

In [154]:
nums.sort()

In [155]:
nums

[6.798, 25]

In [156]:
min(names)

'ritika'

In [157]:
names

['vaishali', 'tanya', 'ritika', 'sreyasi']

In [158]:
max(names)

'vaishali'

In [159]:
sum(names)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [160]:
names.sort()

In [161]:
names

['ritika', 'sreyasi', 'tanya', 'vaishali']

# tuples - immutable - can not change its value

In [163]:
tup = (23,45,78,"vaishali")

In [164]:
tup

(23, 45, 78, 'vaishali')

In [165]:
tup[0]

23

In [167]:
tup[0] = 90 #tuples are  immutable

TypeError: 'tuple' object does not support item assignment

# Sets - uses curly braces - contains unique elements

In [168]:
s = {22,34,78} # elements in set do not contain any order

In [169]:
s

{22, 34, 78}

In [170]:
s = {22,67,89,2,6,90,89}

In [171]:
s

{2, 6, 22, 67, 89, 90}

In [172]:
s[2]

TypeError: 'set' object does not support indexing

In [198]:
len(s)

6

In [199]:
6 in s

True

In [200]:
22 not in s

False

In [201]:
s

{2, 6, 22, 67, 89, 90}

In [202]:
t = {2,8,9,6,22,89,67,90,95}
t

{2, 6, 8, 9, 22, 67, 89, 90, 95}

In [203]:
s.issubset(t)

True

In [204]:
s.issuperset(t)

False

In [205]:
t.issuperset(s)

True

In [206]:
s.union(t)

{2, 6, 8, 9, 22, 67, 89, 90, 95}

In [207]:
s.intersection(t)

{2, 6, 22, 67, 89, 90}

In [208]:
s.difference(t)

set()

In [209]:
t.difference(s)

{8, 9, 95}

In [210]:
s.symmetric_difference(t)

{8, 9, 95}

In [211]:
a={"vaishali","tanya","sumit"}
a

{'sumit', 'tanya', 'vaishali'}

In [213]:
b= {"ritika","shikha","sreyasi","tanya"}
b

{'ritika', 'shikha', 'sreyasi', 'tanya'}

In [226]:
p = {34,2,3,6,8}
p

{2, 3, 6, 8, 34}

In [227]:
q= {45,24,2,3,90}
q

{2, 3, 24, 45, 90}

In [228]:
p.update(q)

In [229]:
p

{2, 3, 6, 8, 24, 34, 45, 90}

In [238]:
a

{'ritika', 'shikha', 'sreyasi', 'tanya'}

In [233]:
b

{'ritika', 'shikha', 'sreyasi', 'tanya'}

In [234]:
p.intersection_update(q)

In [235]:
p

{2, 3, 24, 45, 90}

In [236]:
a.intersection_update(b)

In [237]:
a

{'ritika', 'shikha', 'sreyasi', 'tanya'}

In [239]:
a.remove('shikha')

In [240]:
a

{'ritika', 'sreyasi', 'tanya'}

In [241]:
a.pop()

'ritika'

In [251]:
a

set()

In [260]:
a.add("sonia")
a.add("sreyasi")

In [261]:
a

{'sonia', 'sreyasi'}

In [262]:
a.difference_update(b)

In [267]:
a

set()

In [269]:
a.add("sreyasi")

In [270]:
a

{'sreyasi'}

In [271]:
b

{'ritika', 'shikha', 'sreyasi', 'tanya'}

In [272]:
a.intersection_update(b)

In [273]:
a

{'sreyasi'}

In [242]:
a.discard('sreyasi')

In [243]:
a

{'tanya'}

In [244]:
a.clear()

In [245]:
a

set()

# Dictionary - Key value pairs

In [274]:
data = {1:'vaishali' , 2:'sonia' ,3:'kamna'}

In [275]:
data

{1: 'vaishali', 2: 'sonia', 3: 'kamna'}

In [276]:
data[9] = 'kajal'
data

{1: 'vaishali', 2: 'sonia', 3: 'kamna', 9: 'kajal'}

In [277]:
data.get(2)

'sonia'

In [278]:
data.get(7)

In [279]:
data.get(7,'not found')

'not found'

In [280]:
data[3]

'kamna'

In [283]:
type(data)

dict

In [4]:
keys = ["vaishali","sumit","tanya","ifra"]
values = [9876 , 9835,5678,2345]

In [5]:
keys

['vaishali', 'sumit', 'tanya', 'ifra']

In [6]:
values

[9876, 9835, 5678, 2345]

In [7]:
datadict = dict(zip(keys,values))

In [8]:
datadict

{'ifra': 2345, 'sumit': 9835, 'tanya': 5678, 'vaishali': 9876}

In [10]:
datadict['tanya']

5678

In [11]:
datadict.get('vaishali')

9876

In [12]:
del datadict['ifra']

In [13]:
datadict

{'sumit': 9835, 'tanya': 5678, 'vaishali': 9876}

In [14]:
prog  = {'js':'notepad' , 'java':{'jse':'netbeans' , 'jee' : 'eclipse'} , 'c':'devc++' , 'pyhton':['pychram' , 'sublime']}

In [16]:
prog['js']

'notepad'

In [17]:
prog.get('java')

{'jee': 'eclipse', 'jse': 'netbeans'}

In [18]:
prog.get('java').get('jee')

'eclipse'

In [19]:
prog

{'c': 'devc++',
 'java': {'jee': 'eclipse', 'jse': 'netbeans'},
 'js': 'notepad',
 'pyhton': ['pychram', 'sublime']}

In [20]:
prog['java']['jse']

'netbeans'

In [22]:
prog['pyhton']

['pychram', 'sublime']

In [23]:
prog['pyhton'][0]

'pychram'

In [24]:
prog['pyhton'][0][1]

'y'